.bd--heading
  margin-top: 30px

.bd--lead
  max-width: 450px
  text-align: center
  margin: auto
  margin-bottom: 20px

.bd--list
  h3
    margin-top: 0
    font-weight: 400
    font-size: 20px
  p
    max-width: 275px
    margin: auto

.bd__image
  max-width: 250px
  margin: auto
  display: block
