.user-nav
  border-bottom: 1px solid #ddd
  padding: 10px
  ul
    padding-left: 0
    margin-bottom: 0
    display: inline-block
    float: right
  li
    display: inline
    list-style-type: none
    padding-left: 20px
  a
    font-weight: 400
    line-height: 25px

.user-nav__logo
  width: 125px
  margin-bottom: 2px
  transition: all .25s
  &:hover
    opacity: 0.70
