<nav role='navigation' aria-label='global navigation', class='user-nav'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12'>
        <%= link_to image_tag('bd-logo.svg', alt: 'bus detective logo', class: 'user-nav__logo'), root_url %>
        <ul>
          <li><%= link_to 'Displays', page_path('display') %></li>
          <li><%= mail_to 'hi@busdetective.com', 'Contact' %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
